* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.conteudo {
    width: 1200px;
    height: inherit;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#container_formulario {
    width: 100%;
    height: 700px;
    /* background-color: aqua; */
    margin-bottom: 50px;
}

#formulario {
    width: 500px;
    height: inherit;
    background-color: bisque;
}

h1 {
    height: 50px;
    width: inherit;
    padding-top: 10px;
    background-color: forestgreen;
    box-sizing: border-box;
}

.segura_input {
    height: 50px;
    width: inherit;
    /* background-color: darkgray; */
    margin-bottom: 8px;
}

#segura_input {
    height: 200px;
    width: inherit;
    /* background-color: darkgray; */
    margin-bottom: 8px;
}

.informacoes_cadastro {
    width: 150px;
    height: 50px;
    /* background-color: cornflowerblue; */
    padding-top: 12px;
    box-sizing: border-box;
    margin-bottom: 7px;
    float: left;
    margin-right: 7px;
}

.dados_cadastro {
    width: 300px;
    height: 40px;
    /* height: auto; */
    /* background-color: cornflowerblue; */
    padding-top: 8px;
    box-sizing: border-box;
    margin-bottom: 7px;
    float: left;
    /* background-color: blueviolet; */
    margin-top: 4px;
}

.dados_cadastro_radio {
    width: 30px;
    height: 20px;
    background-color: aqua;
    text-align: left;
}

textarea {
    width: 200px;
    /* height: 300px; */
    background-color: darkgray;
    resize: none;
}

.button {
    width: 100px;
    height: 50px;
    background-color: burlywood;
}

#consulta {
    width: 100%;
    height: 200px;
    /* background-color: salmon; */
}

table {
    width: 1200px;
    height: 150px;
    /* border: solid 1px black; */
    background-color: salmon;
}

tr {
    height: 70px;
    border: solid 1px black;
}

td {
    width: 20%;
    background-color: floralwhite;
}

.icone_consulta {
    width: 45px;
    height: 45px;
    /* background-color: hotpink; */
    margin-left: 15px;
    float: left;
}

.icone_consulta img {
    width: 45px;
    height: 45px;
}


/* ------------------------------------- */


/* ------------ Modal -------------------*/

#conatiner_modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 999;
    display: none;
}

#modal {
    min-width: 800px;
    width: auto;
    
    height: 500px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
}